html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background: rgb(32, 32, 32);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar_left {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

#navbarMenuIcon {
    font-size: 30px;
    margin-right: 10px;
}

.superText {
    font-size: 10px;
}

.navbar_center {
    display: flex;
    align-items: center;
    justify-items: center;
}

.searchBox {
    width: 500px;
    background: black;
    border: 0;
    color: gray;
    height: 40px;
    font-size: 17px;
    padding-left: 10px;
}

.searchButton {
    background: rgb(50, 50, 50);
    border: 0; 
    height: 40px;
    padding-top: 5px;
    width: 50px;
    font-size: 18px;
    text-align: center;
    color: white;
}

#voiceButton {
    margin-left: 20px;
    background: black;
    border-radius: 50%;
    padding: 5px;
}

.navbar_right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.userNameButton {
    background: orangered;
    color: white;
    border: 0;
    border-radius: 50%;
    font-size: 16px;
    height: 30px;
    width: 30px;
    margin-right: 40px;
}

.video_section {
    width: 70%;
    margin:  0 auto;
    padding: 5px;
    display: flex;
}

.col-1-2-3 {
    float: left;
    width: 70%;
    padding-top: 30px;
}

.col-3-3 {
    float: right;
    width: 30%;
}

.videoPlayer {
    width: 95%;
    height: 650px;
    border: 0;
}

.videoInfo {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: flex-end;
}

.videoName {
    font-size: 18px;
}

.viewsInfo {
    font-size: 14px;
    color: lightgray;
}

.infoPanelButton {
    width: 100px;
    border: 0;
    background: black;
    color: white;
    font-size: 16px;
}

.thumbButton {
    border-bottom: 2px solid white;
}

.userInfo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.userInfo {
    margin-top: 20px;
}

.profilePic {
    border-radius: 50%;
}

.userName {
    font-weight: bolder;
}

.subscribersCount {
    font-size: 14px;
    color: lightgray;
}

.videoDescription{
    margin-top: 30px;
}

.openDescr {
    margin-top: 20px;
    font-size: 14px;
    color: lightgray;
}

.subscribeButton {
    background: red;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0;
    padding: 5px;
}
